div{
    display: grid;
    margin-bottom: 10px;
}

input{
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid grey;
    width: 100%;
}

label{
    color: aliceblue;
}

span{
    color: rgb(136, 4, 4);
    display: none;
}

input:invalid[focused = "true"] ~ span{
    display: block;
}

button{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color: antiquewhite;
    margin: 10px 0 20px 0;
    cursor: pointer;
}